<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="sobre-container">
    <h2>Descrição</h2>
    <p>
      Olá! Meu nome é Vitória Rafael Rocha, sou estudante de Análise e Desenvolvimento de Sistemas (turma ADS0301N - CG/Noite).
      Este é um app desenvolvido em Ionic para quem possui interesse em fatos sobre gatos.
    </p>
    <ion-button routerLink="/">Voltar</ion-button>
  </div>
</ion-content>