<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cartão de Identificação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="container-avatar">
      <ion-avatar>
        <img alt="Silhouette" src="/assets/IMG_2966.jpg" />
      </ion-avatar>
    </div>

    <strong>Vitória Rafael Rocha</strong>
    <p>ADS0301N</p>
  <ion-button size="small" [routerLink]="['/sobre']">Sobre mim</ion-button>
  <ion-button size="small" routerLink="/api">Api</ion-button>
  </div>
  
</ion-content>
